.img-circle {
    border-radius: 50%;
}

div#maincontent {
    outline: none;
}


/*
img {
    max-width: 75%
}
*/

@font-face {
    font-family: 'horror';
    src: url('horror_fonts.ttf');
}

.horrorFont {
    font-family: 'horror', sans-serif;
    color: #ff0000;
    font-size: 900%;
}

.horrorFont2 {
    font-family: 'horror', sans-serif;
    color: #ff0000;
    font-size: 400%
}

body {
    background-image: url('../images/wallpaper.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    background-color: rgba(245, 245, 245, 0.4);
}

.card-header,
.card-footer {
    opacity: 1
}